.form-div {
  width: 100vw;
  height: 100vh;
  background: url("../img/wallhaven-l8vv6p_1920x1080.png");

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}